Title: Home
---
<section class="bg-alpha position-relative overflow-hidden">
    @* Backgrounds *@
    <div class="position-absolute top-15 start-0 w-90-percent h-75-percent">
        <svg class="w-100-percent h-100-percent" xmlns="http://www.w3.org/2000/svg">
            <rect fill="url(#svgDots)" width="100%" height="100%" />
        </svg>
    </div>
    <div class="position-absolute top-0 start-0 w-60-percent h-50-percent">
        <svg class="bg-zeta w-100-percent h-100-percent" xmlns="http://www.w3.org/2000/svg">
            <rect fill="url(#svgSprinkles)" stroke="var(--sh-black)" stroke-width="4" width="100%" height="100%" />
        </svg>
    </div>
    <div class="position-absolute top-10 top-md-90-px start-0 w-50-percent h-100-percent">
        <svg class="bg-main w-100-percent h-100-percent" xmlns="http://www.w3.org/2000/svg">
            <rect fill="url(#svgCrossHairs)" stroke="var(--sh-black)" stroke-width="4" width="100%" height="100%" />
        </svg>
    </div>
    <div class="position-absolute top-15 start-80 w-10-percent h-10-percent">
        <svg class="w-100-percent h-100-percent rotate-20" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
            <polygon fill="var(--sh-main)" stroke="var(--sh-black)" stroke-width="3" points="50 15, 100 100, 0 100" />
        </svg>
    </div>
    <div class="position-absolute top-60 start-95 w-10-percent h-10-percent">
        <svg class="w-100-percent h-100-percent" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
            <path fill="var(--sh-main)" stroke="var(--sh-black)" stroke-width="3" width="100%" height="100%" d="M 50 10 A 40 40 0 1 0 50 90 A 40 40 0 1 0 50 10 Z M 50 30 A 20 20 0 1 1 50 70 A 20 20 0 1 1 50 30 Z" />
        </svg>
    </div>
    <div id="screensaver" class="screensaver-animation position-absolute top-0 start-50 w-100-percent h-100-percent">
        <div class="position-absolute start-0 x" style="width:100px;height:100px;">
            <svg class="w-100-percent h-100-percent y" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                <path fill="var(--sh-zeta)" stroke="var(--sh-black)" stroke-width="3" width="100%" height="100%" d="M 50 10 A 40 40 0 1 0 50 90 A 40 40 0 1 0 50 10 Z M 50 30 A 20 20 0 1 1 50 70 A 20 20 0 1 1 50 30 Z" />
            </svg>
        </div>
        <div class="position-absolute top-0 end-50 x2" style="width:100px;height:100px;">
            <svg class="w-100-percent h-100-percent y2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40.21 45.08">
                <g>
                    <polygon fill="var(--sh-delta)" stroke="var(--sh-black)" stroke-linecap="round" stroke-linejoin="round" points="39.71 7.63 32.58 0.5 20.11 12.97 7.63 0.5 0.5 7.63 0.5 12.5 10.54 22.54 0.5 32.58 0.5 37.45 7.63 44.58 20.11 32.11 32.58 44.58 39.71 37.45 39.71 32.58 29.67 22.54 39.71 12.5 39.71 7.63"/>
                    <polygon fill="var(--sh-beta)" stroke="var(--sh-black)" stroke-linecap="round" stroke-linejoin="round" points="27.24 20.11 39.71 7.63 32.58 0.5 20.11 12.97 7.63 0.5 0.5 7.63 12.97 20.11 0.5 32.58 7.63 39.71 20.11 27.24 32.58 39.71 39.71 32.58 27.24 20.11"/>
                </g>
            </svg>
        </div>
    </div>
    <div class="container-lg py-5 px-0 position-relative">
        <div class="row py-5">
            <div class="col-md-8 col-xl-6 mx-auto position-relative py-3 py-md-5">
                <div class="position-absolute bottom-0 end-n-5 w-20-percent h-30-percent">
                    <svg class="w-100-percent h-100-percent" xmlns="http://www.w3.org/2000/svg">
                        <rect fill="var(--sh-gamma)" stroke="var(--sh-black)" stroke-width="4" width="100%" height="100%" />
                    </svg>
                </div>
                <div class="position-relative mx-4">
                    <div class="card position-absolute h-100-percent w-100-percent bg-beta ms-n3 mt-3"></div>
                    <div class="card text-opposite position-relative">
                        @Html.Partial("_HeaderCard")
                        <div class="m-4 position-relative border border-opposite px-3 py-5 text-center">
                            <div class="font-handwriting display-3 text-alpha fw-bolder text-shadow-black-2px">Steph Hays</div>
                            <div class="h4 mb-3 pt-3 fw-bold">(Designer && Developer)</div>
                            @Html.Partial("_SocialLinks")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ticTacToeContainer" class="position-absolute d-none d-lg-block">
        <div id="ticTacToe">
            <div class="position-relative"><span class="h3 text-shadow-black-1px position-absolute top-n-45-px font-game score"></span></div>
            <div class="board">
                <div class="cell" data-sh-cell="A" alt="Top-Left"></div>
                <div class="cell" data-sh-cell="B" alt="Top-Center"></div>
                <div class="cell" data-sh-cell="C" alt="Top-Right"></div>
                <div class="cell" data-sh-cell="D" alt="Middle-Left"></div>
                <div class="cell" data-sh-cell="E" alt="Middle-Center"></div>
                <div class="cell" data-sh-cell="F" alt="Middle-Right"></div>
                <div class="cell" data-sh-cell="G" alt="Bottom-Left"></div>
                <div class="cell" data-sh-cell="H" alt="Bottom-Center"></div>
                <div class="cell" data-sh-cell="I" alt="Bottom-Right"></div>
            </div>
            <div class="text-center"><button class="btn btn-epsilon mt-3">Play Again</button></div>
        </div>
    </div>
</section>
<section class="bg-beta position-relative">
    @* Backgrounds *@
    <div class="position-absolute top-n-2 start-5 w-10-percent h-5-percent">
        <svg class="w-100-percent h-100-percent" xmlns="http://www.w3.org/2000/svg">
            <rect fill="var(--sh-gamma)" stroke="var(--sh-black)" stroke-width="3" width="100%" height="100%" />
        </svg>
    </div>
    <div class="position-absolute top-n-5 end-0 w-30-percent h-105-percent">
        <svg class="bg-zeta w-100-percent h-100-percent" xmlns="http://www.w3.org/2000/svg">
            <rect fill="url(#svgStripesVertical)" stroke="var(--sh-black)" stroke-width="4" width="100%" height="100%" />
        </svg>
    </div>
    <div class="position-absolute top-30 end-0 w-10-percent h-90-percent z-index-1">
        <svg class="bg-delta w-100-percent h-100-percent" xmlns="http://www.w3.org/2000/svg">
            <rect fill="url(#svgDiagnolZigZag)" stroke="var(--sh-black)" stroke-width="4" width="100%" height="100%" />
        </svg>
    </div>
    <div class="position-absolute top-80 start-20 w-5-percent h-5-percent">
        <svg class="bg-alpha" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
            <rect fill="url(#svgDiagnolLines)" stroke="var(--sh-black)" stroke-width="4" width="100%" height="100%" />
        </svg>
    </div>
    <svg class="position-absolute top-20 start-60 w-5-percent h-5-percent rotate-45" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <polygon fill="var(--sh-main)" stroke="var(--sh-black)" stroke-width="3" points="50 15, 100 100, 0 100" />
    </svg>
    <div class="container-lg position-relative z-index-2 py-6">
        <h1>Code Experiments</h1>
        <a class="link-underline link-underline-black mb-5 h3 d-inline-block" href='@Context.GetLink("/code")' >View More Experiments</a>
        <div class="row">
            @{
                IDocument[] recentCode = Outputs
                    .FromPipeline("Content")
                    .FilterSources("archive/*.md")
                    .Where(x => x.GetString("Type").Equals("code"))
                    .OrderByDescending(x => x.GetDateTime(WebKeys.Published))
                    .Take(3)
                    .ToArray();
            }

            @foreach (IDocument document in recentCode)
            {
                @Html.Partial("_PostBlurb", (IDocument) document)
            }
        </div>
    </div>
</section>
<section id="matchUp" class="bg-epsilon position-relative">
    <div class="d-none d-md-block position-absolute top-5 start-5 z-index-1">
        <div class="flip-card h-70-px w-70-px" sh-data-match="B" tabindex="0">
            <div class="flip-card-inner">
                <div class="flip-card-front bg-alpha">
                    <svg class="w-100-percent h-100-percent" xmlns="http://www.w3.org/2000/svg">
                        <rect fill="url(#svgDiagnolZigZag)" width="100%" height="100%" />
                    </svg>
                </div>
                <div class="flip-card-back bg-alpha">
                    <span>SASS</span>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none d-md-block position-absolute top-5 start-40 z-index-1">
        <div class="flip-card h-60-px w-60-px" sh-data-match="D"  tabindex="0">
            <div class="flip-card-inner">
                <div class="flip-card-front bg-zeta">
                    <svg class="w-100-percent h-100-percent" xmlns="http://www.w3.org/2000/svg">
                        <rect fill="url(#svgCrossHairs)" width="100%" height="100%" />
                    </svg>
                </div>
                <div class="flip-card-back bg-zeta">
                    <span>git</span>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none d-md-block position-absolute top-20 start-10 z-index-1">
        <div class="flip-card h-50-px w-50-px" sh-data-match="A" tabindex="0">
            <div class="flip-card-inner">
                <div class="flip-card-front bg-beta">
                    <svg class="w-100-percent h-100-percent" xmlns="http://www.w3.org/2000/svg">
                        <rect fill="url(#svgSprinkles)" width="100%" height="100%" />
                    </svg>
                </div>
                <div class="flip-card-back bg-beta">
                    <span>.NET</span>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none d-md-block position-absolute top-15 start-75 z-index-1">
        <div class="flip-card h-100-px w-100-px" sh-data-match="C" tabindex="0">
            <div class="flip-card-inner">
                <div class="flip-card-front bg-gamma">
                    <svg class="w-100-percent h-100-percent" xmlns="http://www.w3.org/2000/svg">
                        <rect fill="url(#svgDots)" width="100%" height="100%" />
                    </svg>
                </div>
                <div class="flip-card-back bg-gamma">
                    <span>JavaScript</span>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none d-md-block position-absolute top-60 start-5 z-index-1">
        <div class="flip-card h-60-px w-60-px" sh-data-match="D" tabindex="0">
            <div class="flip-card-inner">
                <div class="flip-card-front bg-gamma">
                    <svg class="w-100-percent h-100-percent" xmlns="http://www.w3.org/2000/svg">
                        <rect fill="url(#svgVerticalLines)" width="100%" height="100%" />
                    </svg>
                </div>
                <div class="flip-card-back bg-gamma">
                    <span>git</span>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none d-md-block position-absolute top-55 start-90 z-index-1">
        <div class="flip-card h-50-px w-50-px" sh-data-match="A" tabindex="0">
            <div class="flip-card-inner">
                <div class="flip-card-front bg-beta">
                    <svg class="w-100-percent h-100-percent" xmlns="http://www.w3.org/2000/svg">
                        <rect fill="url(#svgSprinkles)" width="100%" height="100%" />
                    </svg>
                </div>
                <div class="flip-card-back bg-beta">
                    <span>.NET</span>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none d-md-block position-absolute top-80 start-80 z-index-1">
        <div class="flip-card h-100-px w-100-px" sh-data-match="C" tabindex="0">
            <div class="flip-card-inner">
                <div class="flip-card-front bg-alpha">
                    <svg class="w-100-percent h-100-percent" xmlns="http://www.w3.org/2000/svg">
                        <rect fill="url(#svgCrossHairs)" width="100%" height="100%" />
                    </svg>
                </div>
                <div class="flip-card-back bg-alpha">
                    <span>JavaScript</span>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none d-md-block position-absolute top-90 start-15 z-index-1">
        <div class="flip-card h-70-px w-70-px" sh-data-match="B" tabindex="0">
            <div class="flip-card-inner">
                <div class="flip-card-front bg-delta">
                    <svg class="w-100-percent h-100-percent" xmlns="http://www.w3.org/2000/svg">
                        <rect fill="url(#svgStripesHorizontal)" width="100%" height="100%" />
                    </svg>
                </div>
                <div class="flip-card-back bg-delta">
                    <span>SASS</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid position-relative py-5 py-md-7">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-8 col-xl-6 mx-auto text-center">
                <h1 class="mb-5">Skillz</h1>
                <div class="row align-items-center g-0 z-index-1 position-relative">
                    <div class="col-2">
                        <div class="logo-card d-flex flex-column align-items-center justify-content-center p-3 border-2-px border-black mx-1 my-2 bg-main">
                            <img src="@Context.GetLink("/assets/images/bootstrap.svg")" loading="lazy" title="Bootstrap" />
                        </div>
                        <div class="logo-card d-flex flex-column align-items-center justify-content-center p-3 border-2-px border-black mx-1 my-2 bg-main">
                            <img src="@Context.GetLink("/assets/images/npm.svg")" loading="lazy" title="npm" />
                        </div>
                        <div class="logo-card d-flex flex-column align-items-center justify-content-center p-3 border-2-px border-black mx-1 my-2 bg-main">
                            <img class="p-3" style="background:#f0772b;" src="@Context.GetLink("/assets/images/handlebars.png")" loading="lazy" title="Handlebars" />
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="logo-card d-flex flex-column align-items-center justify-content-center p-3 border-2-px border-black mx-1 my-2 bg-main">
                            <img class="h-150-px" src="@Context.GetLink("/assets/images/csharp.svg")" loading="lazy" title="C#" />
                        </div>
                        <div class="logo-card d-flex flex-column align-items-center justify-content-center p-3 border-2-px border-black mx-1 my-2 bg-main">
                            <span class="h4 fw-bold mb-0">WPF</span>
                        </div>
                        <div class="logo-card d-flex flex-column align-items-center justify-content-center p-3 border-2-px border-black mx-1 my-2 bg-main">
                            <img src="@Context.GetLink("/assets/images/css-light.svg")" loading="lazy" title="CSS" />
                        </div>
                        <div class="logo-card d-flex flex-column align-items-center justify-content-center p-3 border-2-px border-black mx-1 my-2 bg-main">
                            <img src="@Context.GetLink("/assets/images/indesign.svg")" loading="lazy" title="Adobe InDesign" />
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="logo-card d-flex flex-column align-items-center justify-content-center p-3 border-2-px border-black mx-1 my-2 bg-main">
                            <img src="@Context.GetLink("/assets/images/sass.svg")" loading="lazy" title="SASS" />
                        </div>
                        <div class="logo-card d-flex flex-column align-items-center justify-content-center p-3 border-2-px border-black mx-1 my-2 bg-main">
                            <img src="@Context.GetLink("/assets/images/git-light.svg")" loading="lazy" title="git" />
                        </div>
                        <div class="logo-card d-flex flex-column align-items-center justify-content-center p-3 border-2-px border-black mx-1 my-2 bg-main">
                            <img class="w-75-percent" src="@Context.GetLink("/assets/images/json-light.svg")" loading="lazy" title="JSON" />
                            <span class="h4 fw-bold mb-0 mt-1">JSON</span>
                        </div>
                        <div class="logo-card d-flex flex-column align-items-center justify-content-center p-3 border-2-px border-black mx-1 my-2 bg-main">
                            <img src="@Context.GetLink("/assets/images/jquery-light.svg")" loading="lazy" title="jQuery" />
                        </div>
                        <div class="logo-card d-flex flex-column align-items-center justify-content-center p-3 border-2-px border-black mx-1 my-2 bg-main">
                            <span class="h4 fw-bold mb-0">SVG</span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="logo-card d-flex flex-column align-items-center justify-content-center p-3 border-2-px border-black mx-1 my-2 bg-main">
                            <img src="@Context.GetLink("/assets/images/illustrator.svg")" loading="lazy" title="Adobe Illustrator" />
                        </div>
                        <div class="logo-card d-flex flex-column align-items-center justify-content-center p-3 border-2-px border-black mx-1 my-2 bg-main">
                            <img src="@Context.GetLink("/assets/images/javascript.svg")" loading="lazy" title="JavaScript" />
                        </div>
                        <div class="logo-card d-flex flex-column align-items-center justify-content-center p-3 border-2-px border-black mx-1 my-2 bg-main">
                            <img class="h-275-px" src="@Context.GetLink("/assets/images/gulp.svg")" loading="lazy" title="gulp.js" />
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="logo-card d-flex flex-column align-items-center justify-content-center p-3 border-2-px border-black mx-1 my-2 bg-main">
                            <img src="@Context.GetLink("/assets/images/html-light.svg")" loading="lazy" title="HTML" />
                        </div>
                        <div class="logo-card d-flex flex-column align-items-center justify-content-center p-3 border-2-px border-black mx-1 my-2 bg-main">
                            <span class="h4 fw-bold mb-0">.NET</span>
                        </div>
                        <div class="logo-card d-flex flex-column align-items-center justify-content-center p-3 border-2-px border-black mx-1 my-2 bg-main">
                            <img src="@Context.GetLink("/assets/images/photoshop.svg")" loading="lazy" title="Adobe Photoshop" />
                        </div>
                        <div class="logo-card d-flex flex-column align-items-center justify-content-center p-3 border-2-px border-black mx-1 my-2 bg-main">
                            <img src="@Context.GetLink("/assets/images/statiq-light.svg")" loading="lazy" title="Statiq" />
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="logo-card d-flex flex-column align-items-center justify-content-center p-3 border-2-px border-black mx-1 my-2 bg-main">
                            <img src="@Context.GetLink("/assets/images/yarn.svg")" loading="lazy" title="Yarn" />
                        </div>
                        <div class="logo-card d-flex flex-column align-items-center justify-content-center p-3 border-2-px border-black mx-1 my-2 bg-main">
                            <img src="@Context.GetLink("/assets/images/nodejs-light.svg")" loading="lazy" title="Node.js" />
                        </div>
                        <div class="logo-card d-flex flex-column align-items-center justify-content-center p-3 border-2-px border-black mx-1 my-2 bg-main">
                            <img src="@Context.GetLink("/assets/images/chocolatey.svg")" loading="lazy" title="Chocolatey" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-zeta position-relative">
    <div class="container-lg py-6">
        <h1>Blog Ramblings</h1>
        <a class="link-underline link-underline-black mb-5 h3 d-inline-block" href='@Context.GetLink("/blog")' >Read More Blogs</a>
        <div class="row">
            @{
                IDocument[] recentBlogs = Outputs
                    .FromPipeline("Content")
                    .FilterSources("archive/*.md")
                    .Where(x => x.GetString("Type").Equals("blog"))
                    .OrderByDescending(x => x.GetDateTime(WebKeys.Published))
                    .Take(3)
                    .ToArray();
            }

            @foreach (IDocument document in recentBlogs)
            {
                @Html.Partial("_PostBlurb", (IDocument) document)
            }
        </div>
    </div>
</section>