ArchiveSources: archive/*.md
ArchiveKey: Tags
ArchivePageSize: 12
ArchiveOrder: => GetDateTime("Published")
ArchiveOrderDescending: true
CenteredLayout: true
---

@if (Model.ContainsKey(Keys.GroupKey))
{
    <section class="position-relative bg-alpha">
        @Html.Partial("_HeaderBackgroundOne")
        <div class="container position-relative px-0 py-6">
            <div class="row g-0">
                <div class="col-md-8 mx-auto">
                    <div class="position-relative mx-4">
                        <div class="card position-absolute h-100-percent w-100-percent bg-delta ms-n3 mt-3"></div>
                        <div class="card text-opposite position-relative">
                            @Html.Partial("_HeaderCard")
                            <div class="m-4 position-relative border border-opposite p-5">
                                <h1 class="mb-0">Posts Tagged - "@Model.GetString(Keys.GroupKey)"</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-main">
        @Html.Partial("_PostListings")
    </section>
}
else
{
    <section class="position-relative z-index-1">
        <div class="container-lg p-0">
            <div class="row g-0">
                <div class="col-lg-10 mx-auto position-relative">
                    @Html.Partial("_HeaderBackgroundThree")
                    <div class="row g-0">
                        <div class="col-md-8 mx-auto py-6">
                            <div class="position-relative mx-4">
                                <div class="card position-absolute h-100-percent w-100-percent bg-epsilon ms-n3 mt-3"></div>
                                <div class="card text-opposite position-relative">
                                    @Html.Partial("_HeaderCard")
                                    <div class="m-4 position-relative border border-opposite p-5">
                                        <h1>@Document.GetString("Title")</h1>
                                        @Html.Partial("_TagList")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}